body {
  background-color: #0a1929;
  font-size: 1.2rem;
  font-family: monospace;

  text-align: center;
  color: #76808b;
}

/* #cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
